// ============================
// SASS VARIABLES
// ============================

// ==============
// DIMENSIONS
// ==============
$box-border: .2em;
//
$break1-width: 58em;
$break2-width: 40em;

// ======
// COLORS
// ======
$bg-color: darkslategray;
$txt-color: white;

$link-new: lightgray;
$link-old: silver;