// ============================
// SASS VARIABLES
// ============================

// ==============
// DIMENSIONS
// ==============
$box-border: .2em;
//
$break1-width: 58em;
$break2-width: 40em;

// ======
// COLORS
// ======
$bg-color: firebrick;
$txt-color: white;

$link-new: #FCFF03;
$link-old: #C3FF03;

$break: peachpuff;